<form class="ui form segment">
  <div class="required field">
    <label>Your name</label>
    {{input type="text" name="name" value=username}}
  </div>
  <div class="required field">
    <label>Amount paid</label>
    <div class="ui right labeled input">
      <div class="ui label">$</div>
      {{input type="text" name="amount" value=amount}}
      <div class="ui basic label">.00</div>
    </div>
  </div>
  <div class="required inline field">
    <div class="ui checkbox">
      {{input type="checkbox" name="terms"}}
      <label>I agree to the <span class="tooltip">Terms and Conditions</span></label>
    </div>
  </div>
  <div class="ui blue submit button">Donate now</div>
</form>

<div class="ui success message hidden">
  <i class="close icon" {{action "handleCloseMessage"}}></i>
  <div class="header">
    Thank you, {{username}}.
  </div>
  <p>By donating ${{amount}}, <b>someone is really grateful to you.</b></p>
</div>
