<form class="ui form attached segment">
  <div class="required field">
    <label>Your name</label>
    {{input type="text" name="name"}}
  </div>
  <div class="required field">
    <label>Amount paid</label>
    <div class="ui right labeled input">
      <div class="ui label">$</div>
      {{input type="text" name="amount"}}
      <div class="ui basic label">.00</div>
    </div>
  </div>
  <div class="required inline field">
    <div class="ui checkbox">
      {{input class="hidden" type="checkbox" name="terms"}}
      <label>I agree to the <span class="tooltip">Terms and Conditions</span></label>
    </div>
  </div>
  <div class="ui blue submit button">Donate now</div>
</form>

<div class="ui bottom attached warning message">
  <i class="code icon"></i>
  Take a look what I made here. If you need reference, view the <a class="item" target="_blank" href="https://github.com/hckhanh/donation-form">source code</a>.
</div>

<div class="ui success message hidden">
  <i class="close icon" {{action "handleCloseMessage"}}></i>
  <div class="header">
    Thank you, {{username}}.
  </div>
  <p>By donating ${{amount}}, <b>someone is really grateful to you.</b></p>
</div>
