<form class="ui form attached segment" id="donationForm">
  {{input type="hidden" name="userId" value=uid required=true}}
  <div class="required field">
    <label>Your name</label>
    {{input type="text" name="username"}}
  </div>
  <div class="required field">
    <label>Amount paid</label>
    <div class="ui right labeled input">
      <div class="ui label">$</div>
      {{input type="text" name="amount"}}
      <div class="ui basic label">.00</div>
    </div>
  </div>
  <div class="required inline field">
    <div class="ui checkbox" id="termsCheckbox">
      {{input class="hidden" type="checkbox" name="terms"}}
      <label>I agree to the <span class="tooltip" id="termsTooltip">Terms and Conditions</span></label>
    </div>
  </div>
  <div class="ui blue submit button">Donate now</div>
</form>

<div class="ui bottom attached warning message">
  <i class="code icon"></i>
  Take a look what I made here. If you need reference, view the <a target="_blank" href="https://github.com/hckhanh/donation-form">source code</a>.
</div>

<div class="ui success message hidden" id="successMsg">
  <i class="close icon" {{action "handleCloseMessage"}}></i>
  <div class="header">
    Thank you, {{username}}.
  </div>
  <p>By donating ${{amount}}, <b>someone is really grateful to you.</b></p>
</div>
